body{
background-color: #ccff33 ;
color: black;
font-family:  "Inter", sans-serif;
display:flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
    background-color: #191970;
    color: white;
    font-family:  "Inter", sans-serif;
}


.passo {

display:none;

}

.passo.ativo {

    display:block;
}

main{
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

img{
    max-width: 90%;
    max-height: 90%;
}